.SignupForm {
    text-align: center;
    font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
    background: #F7F7F7;
    border-radius: 8px;
    margin-top: 5rem;
}

.form-horizontal {
    display: inline-block;
    font: 95% Arial, Helvetica, sans-serif;
}

h4 {
    background: #F7F7F7;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: rgb(110, 111, 116);
	margin: -16px -16px 16px -16px;
}

.form-label {
	display: inline-block;
	text-align: center;
}
/* input {
    -webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 8%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
} */

input:focus {
    box-shadow: 0 0 5px #2d2d2e;
	padding: 3%;
	border: 1px solid #2d2d2e;
}

/* button {
    /* box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; */
	/* width: 100%;
	padding: 8%; */
	/* background: #696969;
	border-bottom: 2px solid #464647;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
    color: #fff; */


/* button:hover {
    background: rgb(41, 41, 41);
} */